<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Komoranai</title>
    <link rel="stylesheet" href="/s/style.css">
  <body>
    <div id="header-bg">
      <header>
        <a href="/"><img id="logo" src="/s/logo.svg">
          <div id="title-block">
            <span id="title">Komoranai</span><br/>
            <span id="subtitle">Simple desk occupation</span>
        </div></a>
        <div id="self-info">
          <% if (!!loggedInUserEmail) { %>
            <div id="logged-in-user-avatar">
              <img src=<%= loggedInUserAvatar %> title=<%= loggedInUserEmail %> />
            </div>
            <form id="logout-form" action="/logout" method="POST">
              <button id="logout-button" type="submit">Sign out</button>
            </form>
          <% } %>
        </div>
      </header>
    </div>
