<%- include('_head.ejs'); %>
<script src="/s/svg-inject.min.js"></script>

<main>

<img id="desks" src="/s/desks.svg" onload="SVGInject(this)" />

</main>

<script src="/s/desks.js"></script>
<script>refresh();</script>

<%- include('_footer.ejs'); %>
